 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O mnie</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Nazwa strony w hołdzie mojej cioci.</p>
                </div>
                <div class="col-lg-4">
                    <p>Umiem zrobić/wykleić/wyciąć/wyszyć wiele ładnych rzeczy! Gotuję/piekę/smażę rzeczy równie smaczne jak ładnie podane </p>
                </div>
            </div>
        </div>
    </section>
